@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

$oswald: 'oswald', sans-serif;
$merriweather: 'Merriweather', serif;

$ff-base: $merriweather;
$ff-alt: $oswald;

$fs-base: 1rem;
$fs-h1: 3.75rem;
$fs-h2: 2.875rem;
$fs-h3: 2.25rem;
$fs-x1: 6rem;

$black: #252525;
$yellow: #e9d20f;
$light-gray: #c2c2c2;
$dark-gray: #e8e8e8;
$white: #fff;

@mixin font-base($font-size: $fs-base, $font-weight: 300, $color: $black) {
    font: {
        family: $ff-base;
        size: $font-size;
        weight: $font-weight;
    }
    color: $color;
}

@mixin font-alt($font-size: $fs-base, $color: $black) {
    font: {
        family: $ff-alt;
        size: $font-size;
    }
    color: $color;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

body {
    @include font-base;
    line-height: 1.6;
    //background-color: blue;

    display: grid;
    grid-template-rows: 10em 50vh auto 10em;
    grid-template-columns: 1fr minmax(30em,5fr) minmax(25em,2fr) 1fr;
    grid-template-areas: "header header header header"
    "hero hero hero hero"
    ". main sidebar ." 
    "footer footer footer footer";
    grid-column-gap: 1.5em;
    
}

header {
    grid-area: header;
    
}

.hero {
    grid-area: hero;
    background: url(https://images.unsplash.com/photo-1593096971158-dadbb0b00ee5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzN8fHJvdWdoJTIwdGV4dHVyZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
    display: flex;
    flex-direction: column;
    color: $white;
    justify-content: center;
    align-items: center;
}

.hero-title {
    @include font-alt($fs-x1);
    margin: 0;
}
 
.hero-subtitle {
    @include font-base($color: $white, $font-size: $fs-h2);
    margin: 0;
}

main {
    grid-area: main;
}
aside {
    grid-area: sidebar;
    background: $dark-gray;
    padding: 2em;
}
footer {
    grid-area: footer;
}

header,
footer {
    background: $black;
    color: $yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title,
.footer-title {
    @include font-alt($color: $yellow, $font-size: $fs-h2);
}

.card {
    display: grid;
    grid-template-rows: min-content auto;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 1.5em;
    padding: 1.5em;
    grid-template-areas: "img title"
    "img content";
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    margin-bottom: 1.5em;
    
}

.card-img {
    max-width: 100%;
    grid-area: img;
    
}

.card-title {
    margin: 0;
    grid-area: title;
    font-weight: 300;
    
}
.card-content {
    grid-area: content;
}

a {
    color: $yellow;
}


   