@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
body {
  font-family: "Merriweather", serif;
  font-size: 1rem;
  font-weight: 300;
  color: #252525;
  line-height: 1.6;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10em 50vh auto 10em;
      grid-template-rows: 10em 50vh auto 10em;
  -ms-grid-columns: 1fr minmax(30em, 5fr) minmax(25em, 2fr) 1fr;
      grid-template-columns: 1fr minmax(30em, 5fr) minmax(25em, 2fr) 1fr;
      grid-template-areas: "header header header header" "hero hero hero hero" ". main sidebar ."  "footer footer footer footer";
  grid-column-gap: 1.5em;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: header;
}

.hero {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: hero;
  background: url(https://images.unsplash.com/photo-1593096971158-dadbb0b00ee5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzN8fHJvdWdoJTIwdGV4dHVyZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-title {
  font-family: "oswald", sans-serif;
  font-size: 6rem;
  color: #252525;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin: 0;
}

.hero-subtitle {
  font-family: "Merriweather", serif;
  font-size: 2.875rem;
  font-weight: 300;
  color: #fff;
  margin: 0;
}

main {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: main;
}

aside {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: sidebar;
  background: #e8e8e8;
  padding: 2em;
}

footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footer;
}

header,
footer {
  background: #252525;
  color: #e9d20f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-title,
.footer-title {
  font-family: "oswald", sans-serif;
  font-size: 2.875rem;
  color: #e9d20f;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content auto;
      grid-template-rows: -webkit-min-content auto;
      grid-template-rows: min-content auto;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  grid-column-gap: 1.5em;
  padding: 1.5em;
      grid-template-areas: "img title" "img content";
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
}

.card-img {
  max-width: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: img;
}

.card-title {
  margin: 0;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
  font-weight: 300;
}

.card-content {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content;
}
/*# sourceMappingURL=styles.css.map */